* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #00080e;
    height: 100vh;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background: #012b55;
    color: white;
    height: 100vh;
    padding: 20px 10px;
    position: fixed;
}

.sidebar h2 {
    margin-bottom: 20px;
    text-align: center;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin: 8px 0;
    text-decoration: none;
    color: #fff;
    background: #06437d;
    border-radius: 5px;
}

.sidebar a.active,
.sidebar a:hover {
    background: #0b6dc9;
}

/* Main area */
.main-content {
    margin-left: 200px;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Scrolling Banner */
.marquee {
    width: 100%;
    background: #003b7a;
    color: rgb(245, 242, 242);
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
    font-size: 20px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
}

/* Content */
.container {
    padding: 20px;
    flex: 1;
}

.card-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: rgb(9, 0, 0);
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* Courses Table */
table {
    width: 100%;
    background: #1a0101;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

thead {
    background: #003b7a;
    color: rgb(223, 7, 7);
}

thead th, tbody td {
    padding: 12px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #080000;
}

/* Footer */
footer {
    background: #003b7a;
    color: rgb(242, 240, 240);
    text-align: center;
    padding: 12px;
}
